.container1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #C03335;
	height: 1000;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #ffffff;
	float: left;
	height: 250px;
	width: 1024px;
}
.content1 {
	color: #FFFFFF;
	background-color: #706969;
	float: left;
	height: 800;
	width: 1024px;
}
.footer {
	background-color: #C03335;
	float: left;
	height: 70px;
	width: 100%;
	text-align: center;
}
.logo {
	color: #000000;
	background-color: #9BAF4B;
	float: left;
	height: 250px;
	width: 262px;
	max-height: none;
	
}
.menu {
	color: #000000;
	background-color:none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 120px;
	margin-bottom: 30px;
	margin-right: 40px;
	float: right;   
	height: 50px;
	width: 600px;
}

nav {  
	text-indent: 1em;
	font-size: 2em; 
}
nav a {  color: #000000; 
	   text-decoration: none;
	 }
nav a:hover {	
		color: rgb(177, 31, 31);
	  }

.contact1{
	background-color: #8f1616;
	float: left;
	height: 70px;
	width: 1024px;
}

.filter {
	background-color: #8f1616;
	float: left;
	height: 10px;
	width: 1024px;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.contact
{
   position: relative;
   min-height: 100vh;
   padding: 50px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: url(images/car13.jpg);
   background-size: cover;

}

.contact .content
{
	
	max-width: 800px;
    text-align: center; 
}
.contact .content .h2
{
    font-size: 36px;
    font-weight: 500;
    
	

}
.contact .content p
{
    font-weight: 500;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: 30px ;
    margin-top: 30px;
}

.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-weight:bolder;
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
   
 
    
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: rgb(47, 173, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px ;

}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 500;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: rgb(47, 173, 182);
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: rgb(47, 173, 182);

}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;

}
.contactForm .inputBox
{
    position: relative;
    width: 100;
    margin-top: 10px;
}
.contactForm .inputBox  input,
.contactForm .inputBox  input
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);

}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background:  rgb(19, 95, 99);
    color: #fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px)
{
	
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
		
    }

    .container .contactInfo,
    .contactForm
    {
        width: 50%;
    }
}










